.comboboxSemester{
    margin: 1rem 0;
    .combobox{
        background-color: #fff;
        color: #000;
        border: 1px solid #cacaca;
        font-size: 1rem;
        border-radius: 5px;
        display: block;
        width: 100%;
        padding: 0.5rem;
        &:focus{
            outline: none;
        }
    }
}