.resultstudent {

    .container {
        .column {
            display: flex;
            justify-content: space-between;
            height: 4rem;
            line-height: 4rem;
            .title{
                color:#061b28;
                font-weight: 700;
            }
            .wrap {
                display: flex;
                align-items: center;
            }

            table {
                border-collapse: collapse;
                border: 1px solid #cacaca;
                background-color: #fff;
                width: 100%;
                text-align: center;
                color: #000;

                thead {
                    tr {
                        th {
                            border: 1px solid #cacaca;
                            padding: 0.25rem;
                            .sortResult{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                > a{
                                    margin-left: 0.5rem;
                                }
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            border: 1px solid #cacaca;
                            padding: 0.25rem;
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 640px) {
    .resultstudent {
        .container {
            .column {
                flex-direction: column;
                table {
                    margin: 5rem 0 0 0;
                    thead {
                        tr {
                            th {
                                display: block;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}